.whatsapp{

position:fixed;

right:25px;

bottom:150px;

width:60px;

height:60px;

border-radius:50%;

background:#25D366;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:white;

text-decoration:none;

box-shadow:0 5px 15px rgba(0,0,0,.2);

z-index:999;

}

.call{

position:fixed;

right:25px;

bottom:80px;

width:60px;

height:60px;

border-radius:50%;

background:#2563eb;

display:flex;

justify-content:center;

align-items:center;

font-size:28px;

color:white;

text-decoration:none;

box-shadow:0 5px 15px rgba(0,0,0,.2);

z-index:999;

}

.top{

position:fixed;

right:25px;

bottom:10px;

width:60px;

height:60px;

border:none;

border-radius:50%;

background:#0f172a;

color:white;

font-size:24px;

cursor:pointer;

box-shadow:0 5px 15px rgba(0,0,0,.2);

z-index:999;

}

.whatsapp:hover,
.call:hover,
.top:hover{

transform:scale(1.08);

transition:.3s;

}
