.brands-page{
  padding:30px;
}

.brands-top{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.brands-top h1{
  font-size:40px;
}

.brands-top input{
  width:300px;
  padding:12px;
  border:1px solid #ddd;
  border-radius:8px;
}

.brand-form{
  display:flex;
  gap:15px;
  margin-bottom:25px;
}

.brand-form input{
  padding:12px;
  width:250px;
  border:1px solid #ddd;
  border-radius:8px;
}

.brand-form button{
  padding:12px 25px;
  border:none;
  background:#2563eb;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

table{
  width:100%;
  border-collapse:collapse;
  background:white;
}

th{
  background:#2563eb;
  color:white;
  text-align:left;
  padding:15px;
}

td{
  color: black;
  padding:15px;
  border:1px solid #ddd;
}

.edit-btn{
  background:orange;
  border:none;
  color:white;
  padding:8px 15px;
  margin-right:10px;
  border-radius:6px;
  cursor:pointer;
}

.delete-btn{
  background:red;
  border:none;
  color:white;
  padding:8px 15px;
  border-radius:6px;
  cursor:pointer;
}

/* ===========================================
   RESPONSIVE TABLE
=========================================== */

.table-container{

    width:100%;

    overflow-x:auto;

    -webkit-overflow-scrolling:touch;

    border-radius:20px;

}

.brands-page table{

    width:100%;

    min-width:700px;

    border-collapse:collapse;

}

@media (max-width:768px){

    .brands-top{

        display:flex;

        flex-direction:column;

        align-items:stretch;

        gap:15px;

    }

    .brands-top h1{

        font-size:30px;

    }

    .brands-top input{

        width:100%;

    }


}

@media (max-width:768px){

    .brand-form{

        display:flex;

        flex-direction:column;

        gap:15px;

    }

    .brand-form input{

        width:100%;

    }

    .brand-form button{

        width:100%;

        height:52px;

    }

}